html {
    height: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "나눔손글씨 딸에게 엄마가";
    background: linear-gradient(#141e30, #243b55);
}

/* 전체 */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#faebd7 ,#f5f5dc);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.text h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #243b55;
    text-align: center;
}

.text h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #243b55;
    text-align: center;
}

/* user_box1 */
.text .user_box {
    position: relative;
}

.text .user_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #243b55;
    margin-bottom: 1px solid #243b55;
    outline: none;
    background: transparent;
}

.text .user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #243b55;
    pointer-events: none;
    transition: .3s;
}

.text .user_box input:focus ~ label,
.text .user_box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #d2b48c;
    font-size: 15px;
}

/* 본문 */
.text .user_box2 {
    position: relative;
}

.text .user_box2 input {
    width: 100%;
    height: 250px;
    padding: 10px 0;
    font-size: 20px;
    color: #243b55;
    margin-bottom: 1px solid #243b55;
    outline: none;
    background: transparent;
}

.text .user_box2 label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #243b55;
    pointer-events: none;
    transition: .3s;
}

.text .user_box2 input:focus ~ label,
.text .user_box2 input:valid ~ label {
    top: -20px;
    left: 0;
    color: #d2b48c;
    font-size: 15px;
}

/* 